/build/
/Musician/build/
/JFugue/build/
/flamingo-integration/build/
/Instruments/build/
/Composition/build/
/Core - Score/build/
/Core - New Composition Wizard/build/
/Guitar/build/
/Syntax/build/
/Keyboard/build/
/Resources/build/
/flamingo/build/