/build/
/Musician/build/
/JFugue/build/
/flamingo-integration/build/
/Instruments/build/
/Composition/build/
/Core - Score/build/
/Core - New Composition Wizard/build/
/Guitar/build/
/Syntax/build/
/Keyboard/build/
/Resources/build/
/flamingo/build/
/Tools - Instruments/build/
/Tools - Composition/build/
/Tools - Syntax/build/
/Input - Keyboard/build/
/Input - Guitar/build/
/Libs - JavaFX Runtime/build/
/Core - Resources/build/
/Libs - JFugue/build/
/API - MusicianAPI/build/
/API - JFugueaAPI/build/
/API - JFugueAPI/build/
/Input - Xylophone/build/
/Core - Musician/build/
/Libs - Flamingo/build/
/Libs - Flamingo Integration/build/